# Dealing With Dates

In the last two lessons, we learned a variety of methods to text character and numeric data, but many data sets also contain dates that don't fit nicely into either category. Common date formats contain numbers and sometimes text as well to specify months and days. Getting dates into a friendly format and extracting features of dates like month and year into new variables can be useful preprocessing steps.

For this lesson I've created and uploaded some dummy date data in a few different formats. Let's read in the date data:

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dates = pd.read_csv("../input/lesson-16-dates/dates_lesson_16.csv")

dates # Check the dates

  month_day_year      ...       year_month_day
0       04/22/96      ...           2007-06-22
1       04/23/96      ...           2017-01-09
2       05/14/96      ...           1998-04-12
3       05/15/96      ...           2027-07-22
4       05/16/01      ...           1945-11-15
5       05/17/02      ...           1942-06-22
6       05/18/03      ...           1887-06-13
7       05/19/04      ...           1912-01-25
8       05/20/05      ...           2007-06-22

[9 rows x 4 columns]

*Note the date data is listed as "lesson 16" instead of 17 because I used the same data set for lesson 16 of my intro to R guide.*

When you load data with Pandas, dates are typically loaded as strings by default. Let's check the type of data in each column:

In [ ]:
for col in dates:
    print (type(dates[col][1]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

The output confirms that all the date data is currently in string form. To work with dates, we need to convert them from strings into a data format built for processing dates. The pandas library comes with a Timestamp data object for storing and working with dates. You can instruct pandas to automatically convert a date column in your data into Timestamps when you read your data by adding the "parse_dates" argument to the data reading function with a list of column indices indicated the columns you wish to convert to Timestamps. Let's re-read the data with parse_dates turned on for each column:

In [ ]:
dates = pd.read_csv("../input/lesson-16-dates/dates_lesson_16.csv",
                    parse_dates=[0,1,2,3]) # Convert cols to Timestamp

Now let's check the data types again:

In [ ]:
for col in dates:
    print (type(dates[col][1]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

The output shows that all 4 columns were successfully parsed and translated into Timestamps. The default date parser works on many common date formats. You can also convert date strings to Timestamps using the function pd.to_datetime().

If you have oddly formatted date time objects, you might have to specify the exact format to get it to convert correctly into a Timestamp. For instance, consider a date format that gives date times of the form hour:minute:second year-day-month:

In [ ]:
odd_date = "12:30:15 2015-29-11"

The default to_datetime parser will fail to convert this date because it expects dates in the form year-month-day. In cases like this, specify the date's format to convert it to Timestamp:

In [ ]:
pd.to_datetime(odd_date,
               format= "%H:%M:%S %Y-%d-%m")

Timestamp('2015-11-29 12:30:15')

As seen above, date formatting uses special formatting codes for each part of the date. For instance, %H represents hours and %Y represents the four digit year. View a list of formatting codes here.

Once you have your dates in the Timestamp format, you can extract a variety of properties like the year, month and day. Converting dates into several simpler features can make the data easier to analyze and use in predictive models. Access date properties from a Series of Timestamps with the syntax: Series.dt.property. To illustrate, let's extract some features from the first column of our date data and put them in a new DataFrame:

In [ ]:
column_1 = dates.iloc[:,0]
print(column_1)

pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofyear": column_1.dt.dayofyear,
              "week": column_1.dt.week,
              "weekofyear": column_1.dt.weekofyear,
              "dayofweek": column_1.dt.dayofweek,
              "weekday": column_1.dt.weekday,
              "quarter": column_1.dt.quarter,
             })

0   1996-04-22
1   1996-04-23
2   1996-05-14
3   1996-05-15
4   2001-05-16
5   2002-05-17
6   2003-05-18
7   2004-05-19
8   2005-05-20
Name: month_day_year, dtype: datetime64[ns]

   year  month  day  hour   ...     weekofyear  dayofweek  weekday  quarter
0  1996      4   22     0   ...             17          0        0        2
1  1996      4   23     0   ...             17          1        1        2
2  1996      5   14     0   ...             20          1        1        2
3  1996      5   15     0   ...             20          2        2        2
4  2001      5   16     0   ...             20          2        2        2
5  2002      5   17     0   ...             20          4        4        2
6  2003      5   18     0   ...             20          6        6        2
7  2004      5   19     0   ...             21          2        2        2
8  2005      5   20     0   ...             20          4        4        2

[9 rows x 10 columns]

In addition to extracting date features, you can use the subtraction operator on Timestamp objects to determine the amount of time between two different dates:

In [ ]:
print(dates.iloc[1,0])
print(dates.iloc[3,0])
print(dates.iloc[3,0]-dates.iloc[1,0])

1996-04-23 00:00:00
1996-05-15 00:00:00
22 days 00:00:00

Pandas includes a variety of more advanced date and time functionality beyond the basics covered in this lesson, particularly for dealing time series data (data consisting of many periodic measurements over time.). Read more about date and time functionality [here](http://pandas.pydata.org/pandas-docs/version/0.17.0/timeseries.html).

## Wrap Up

Pandas makes it easy to convert date data into the Timestamp data format and extract basic date features like day of the year, month and day of week. Simple date features can be powerful predictors because data often exhibit cyclical patterns over different time scales.

Cleaning and preprocessing numeric, character and date data is sometimes all you need to do before you start a project. In some cases, however, your data may be split across several tables such as different worksheets in an excel file or different tables in a database. In these cases, you might have combine two tables together before proceeding with your project. In the next lesson, we'll explore how to merge data sets.